<a href="https://colab.research.google.com/github/DeaAnalytics/univ-workshop/blob/main/notebooks/Python/Sesion1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sesion** 1

In [1]:
# Instalacion de librerias
!pip install pandas
!pip install numpy
!pip install sklearn

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)

In [2]:
# Importacion de librerias
import pandas as pd
import numpy as np

In [3]:
# Carga de datos
df = pd.read_csv("https://github.com/DeaAnalytics/univ-workshop/raw/main/data/Medidas_Centrales_U.csv")
df

            id         hotel  ...  customer_type     adr
0            1  Resort Hotel  ...      Transient    0.00
1            2  Resort Hotel  ...      Transient    0.00
2            3  Resort Hotel  ...      Transient   75.00
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[119390 rows x 12 columns]

In [4]:
#Obtenemos la media de la tabla llamada "df" de la variable llamada "adults"
df['adults'].mean()

1.8564033838679956

In [5]:
#Obtenemos la media de la tabla llamada "df" de la variable llamada "hotel" pero sale ERROR porque esta variable es tipo char
df['hotel'].mean()

TypeError: ignored

In [6]:
#Obtenemos la mediana de la tabla llamada "df" de la variable llamada "adults"
df['adults'].median()

2.0

In [7]:
#Obtenemos la moda de la tabla llamada "df" de la variable llamada "adults"
df['adults'].mode()

0    2
dtype: int64

In [8]:
#Obtenemos la moda de la tabla llamada "df" de la variable llamada "hotel"
df['hotel'].mode()

0    City Hotel
dtype: object

In [9]:
#Hacemos un summary que nos proporciona información rápida con un panorama general del comportamiento de mis variables dentro de la tabla MCU
df.describe()

                  id  ...            adr
count  119390.000000  ...  119390.000000
mean    59695.500000  ...     101.831122
std     34465.068657  ...      50.535790
min         1.000000  ...      -6.380000
25%     29848.250000  ...      69.290000
50%     59695.500000  ...      94.575000
75%     89542.750000  ...     126.000000
max    119390.000000  ...    5400.000000

[8 rows x 9 columns]

In [10]:
#Obtenemos una tabla con todas las variables del data frame "df" y contabiliza cuántos NULL tenemos en cada variable
df.isnull().sum()

id                              0
hotel                           0
stays_in_weekend_nights         0
stays_in_week_nights            0
adults                          0
children                        4
market_segment                  0
agent                       16340
company                    112593
days_in_waiting_list            0
customer_type                   0
adr                             0
dtype: int64

In [11]:
#Voy a eliminar aquella(s) variable(s)/(columnas) que contienen muchos NULL y que no son de utilidad para mi estudio, en este caso "company"
df_clean = df.drop("company", axis=1).copy()
df_clean

            id         hotel  ...  customer_type     adr
0            1  Resort Hotel  ...      Transient    0.00
1            2  Resort Hotel  ...      Transient    0.00
2            3  Resort Hotel  ...      Transient   75.00
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[119390 rows x 11 columns]

In [12]:
#Si deseo reemplazar/sustituir algún NULL, por ejemplo reemplazar los NULL por ceros en la variable "children"
#df_clean["children"] = df_clean["children"].fillna(0)
df_clean["children"].fillna(0, inplace=True)
df_clean

            id         hotel  ...  customer_type     adr
0            1  Resort Hotel  ...      Transient    0.00
1            2  Resort Hotel  ...      Transient    0.00
2            3  Resort Hotel  ...      Transient   75.00
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[119390 rows x 11 columns]

In [13]:
#Hago lo mismo que en el paso anterior para la variable "days_in_waiting_list"
# df_clean["days_in_waiting_list"] = df_clean["days_in_waiting_list"].fillna(0)
df_clean["days_in_waiting_list"].fillna(0, inplace=True)
df_clean

            id         hotel  ...  customer_type     adr
0            1  Resort Hotel  ...      Transient    0.00
1            2  Resort Hotel  ...      Transient    0.00
2            3  Resort Hotel  ...      Transient   75.00
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[119390 rows x 11 columns]

In [14]:
#Elimino todas las filas que contengan algún NULL
# df_clean = df_clean.dropna()
df_clean.dropna(inplace=True)
df_clean

            id         hotel  ...  customer_type     adr
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
5            6  Resort Hotel  ...      Transient   98.00
7            8  Resort Hotel  ...      Transient  103.00
8            9  Resort Hotel  ...      Transient   82.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[103050 rows x 11 columns]

In [15]:
#Contabilizamos cuantos NULL tiene nuestra tabla
df_clean.isnull().sum()

id                         0
hotel                      0
stays_in_weekend_nights    0
stays_in_week_nights       0
adults                     0
children                   0
market_segment             0
agent                      0
days_in_waiting_list       0
customer_type              0
adr                        0
dtype: int64

In [16]:
#NUESTRA TABLA HA QUEDADO LISTA SIN NULL!

#Ahora vamos a normalizar los datos,
#para ajustar los valores medios en diferentes escalas respecto a una escala común
#ya que hay variabes que contienen datos muy grandes respecto a otra:
from sklearn.preprocessing import StandardScaler

In [17]:
#Normalizamos las columnas 8 y 11 (agent y adr) que son las que tienen datos que son muy grandes respecto al resto y lo renombramos como "Normal"
df_normal = df_clean.copy()

scaler = StandardScaler()
df_normal[["agent", "adr"]] = scaler.fit_transform(df_normal[["agent", "adr"]])

df_normal

            id         hotel  ...  customer_type       adr
3            4  Resort Hotel  ...      Transient -0.591971
4            5  Resort Hotel  ...      Transient -0.132286
5            6  Resort Hotel  ...      Transient -0.132286
7            8  Resort Hotel  ...      Transient -0.032354
8            9  Resort Hotel  ...      Transient -0.452067
...        ...           ...  ...            ...       ...
119385  119386    City Hotel  ...      Transient -0.169460
119386  119387    City Hotel  ...      Transient  2.414571
119387  119388    City Hotel  ...      Transient  1.061098
119388  119389    City Hotel  ...      Transient -0.004373
119389  119390    City Hotel  ...      Transient  0.930987

[103050 rows x 11 columns]