<a href="https://colab.research.google.com/github/DeaAnalytics/univ-workshop/blob/main/notebooks/Python/Sesion1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sesion 1

In [1]:
# Instalacion de librerias
!pip install pandas
!pip install numpy
!pip install sklearn

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)

In [2]:
# Importacion de librerias
import pandas as pd
import numpy as np

In [4]:
# Carga de datos
df = pd.read_csv("https://github.com/DeaAnalytics/univ-workshop/raw/main/data/Medidas_Centrales_U.csv")
df

            id         hotel  ...  customer_type     adr
0            1  Resort Hotel  ...      Transient    0.00
1            2  Resort Hotel  ...      Transient    0.00
2            3  Resort Hotel  ...      Transient   75.00
3            4  Resort Hotel  ...      Transient   75.00
4            5  Resort Hotel  ...      Transient   98.00
...        ...           ...  ...            ...     ...
119385  119386    City Hotel  ...      Transient   96.14
119386  119387    City Hotel  ...      Transient  225.43
119387  119388    City Hotel  ...      Transient  157.71
119388  119389    City Hotel  ...      Transient  104.40
119389  119390    City Hotel  ...      Transient  151.20

[119390 rows x 12 columns]